@import url('https://fonts.googleapis.com/css2?family=Karla&family=Roboto+Serif:wght@900&family=Ultra&display=swap');

h1, h2{
  font-family: 'Nighty';
}


@font-face {
  font-family: 'Nighty';
  src: url('fonts/Nightydemo-nRjOP.otf');
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 800;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* introduction */

.i {
  display: flex;
  height: 100vh;
  background-color: white;
}

.i-left {
  flex: 1;
  justify-content: right;
  display: flex;
  align-items: center;
}

.i-right{
  flex: 1;
  justify-content: left;
  display: flex;
  align-items: center;
}

.i-left-wrapper {
  padding: 40px 20px;
  height: 70%;
  background-color: rgb(235, 241, 220);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.i-name{
  font-size: 50px;
}

ul li {
  list-style-type: " +   ";
  font-size: large;
}

.i-title{
  height: 50px;
  overflow: hidden;
}

.i-title-item{
  height: 50px;
  font-size: 30px;
  display: absolute;
  align-items: center;
  text-align: center;
}

.i-title-wrapper{
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  33%{
    transform: translateY(-50px);
  }
  66%{
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(-100px);
  }
}

.i-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.i-right-wrapper{
  padding: 10px 10px;
  height: 70%;
  background-color: rgb(235, 241, 220);
  display: flex;
  flex-direction: column;
}

/* <!-- about --> */

.a{
  height: 100vh;
  display: flex;
  align-items: center;
}

.a-left{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.a-right{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.a-card{
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.a-card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: rgb(100, 93, 93);
}

.a-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* contact */

.c{
  height: 60vh;
  position: relative;
}

.c-bg{
  width: 100%;
  height: 100%;
  background-color: rgb(235, 241, 222);
  position: absolute;
}

.c-wrapper{
  padding: 55px;
  display: flex;
}

.c-left{
  flex: 1;
  flex-direction: column;
}

.c-right{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.c-title {
  font-size: 40px;
  width: 100%;
}


.c-info-item{
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 0px 12px 3px  rgb(155, 177, 113);
  margin: 30px 10px;
}

.c-info-item#introduction {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 0px 12px 3px  rgb(155, 177, 113);
  margin: 30px 10px;
}

.c-info-item#introduction:hover {
  transform: translate(0, 4px)
}

.c-icon{
  width: 60px;
  padding: 2px;
}


.c-description{
  font-weight: 200;
}

.fa{
  font-size: 20px;
  line-height: 33px;
  transition: 0.6s;
  color: #000;
}

.c-info-item:hover{
  transform: translate(7px, 0);
}

form {
  margin-top: 20px;
}

input {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 2px solid rgb(194, 191, 191);
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

textarea {
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
  border: none;
  border-bottom: 2px solid rgb(194, 191, 191);
}

button.submit{
  border: none;
  padding: 7px 10px;
  font-size: small;
  background-color:rgb(155, 177, 113);
  cursor: pointer;
}

.submit:hover{
  background-color:rgb(203, 212, 185);
  transition: 0.6s ease-in
}

/* projects */

.p{
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  position: relative;
  margin: 20px;
}

.p-list{
  display: flex;
  width: 100%
}

.project{
  display: flex;
  flex-wrap: wrap;
  margin: 4px;
  justify-content: center;
  padding: 20px 20px;
  border: 2px solid rgb(245, 244, 244);
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
}

.card-link i {
  font-size: 30px;
}


.card#project:hover{
  box-shadow: 10px 10px 15px 1px rgb(226, 224, 224);
  cursor: pointer;
}



/* blogs */

.blog {
  
  margin: 50px 50px;
}

.card#blog:hover{
  box-shadow: 10px 10px 15px 1px rgb(226, 224, 224);
  cursor: pointer;
}

.card#blog{
  margin-bottom: 25px;
}


